# Compiled class files
*.class

# Log files
*.log

# Maven target directory
/target/

# IntelliJ IDEA project files
/.idea/
*.iml
*.iws
settings.xml

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Other IDE-specific files
.vscode/
